{% extends 'base.html' %}
{% load custom %}

{% block page-menu %}
    {% for categroy in Category_objs %}
        {% if categroy == category_obj %}
            <li class="active"><a href="{% url 'categorys' categroy.id %}">{{ categroy.name }}</a></li>
        {% else %}
            <li class=""><a href="{% url 'categorys' categroy.id %}">{{ categroy.name }}</a></li>
        {% endif %}
    {% endfor %}
{% endblock %}

{% block page-menu-right %}
    {% if request.user.is_authenticated %}
        <li class=""><a href="#">{{ request.user.userprofile.name }}</a></li>
        <li class=""><a href="{% url 'logout' %}?next={{ request.path}}">注销</a></li>
    {% else %}
        <li class=""><a href="{% url 'login' %}?next={{ request.path }}">登陆/注册</a></li>
    {% endif %}
{% endblock %}

{% block page-container %}
    <div class="page-body">
        <div class="page-left">
            {% for article in article_list %}
                <div class="article-body">
                    <div class="article-img">
                        <img src="/static/{{ article.head_img|get_img_url }}" alt="点击查看详情">
                    </div>
                    <div class="article-info">
                        <div class="article-title">
                            <a href="{% url 'article_detail' article.id %}">{{ article.title }}</a>
                        </div>
                        <div class="mob-author">
                            <img src="/static/{{ article.author.head_img|get_img_url }}" alt="">
                            <span>{{ article.author.name }}</span>
                            <span>{{ article.pub_date|get_format_time }}</span>
{#                            <span>{{ article.comment_set.select_related.count }}</span>#}
                            <span>{% get_comment_type article as comments %}</span>
                            <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
                            {{ comments.comment_count }}
                            <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
                            {{ comments.thumb_count }}
                        </div>
                        <div class="article-brief">
                            {{ article.brief }}
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
            {% endfor %}
        </div>
        <div class="page-right">
            hahhaha
        </div>
    </div>
{% endblock %}
